.container {
  position: relative;
  height: 100vh;
}

.viewport-area {
  width: 100%;
  height: 100%;
}

.panel-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: calc(100vh - 20px);
  display: flex;
  padding: 10px;
  pointer-events: none;
}

.middle-column {
  width: 100%;
}

.left-column {
  height: 100%;
}

.left-column > * {
  margin-top: 10px;
  pointer-events: all;
}

.left-column > :first-child {
  margin-top: 0;
}

.right-column {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.right-column > * {
  margin-top: 10px;
  pointer-events: all;
}

.right-column > :first-child {
  margin-top: 0;
}

.scene-explorer-section {
  max-height: 35%;
}

.properties-section {
  flex-grow: 1; /* Use remaining space */
  overflow: auto;
}

.right-column > * {
  margin-top: 10px;
  pointer-events: all;
}

.right-column > :first-child {
  margin-top: 0;
}
