html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: black;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a68;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b99;
}

::-webkit-scrollbar-thumb:active {
  background-color: #6b6b99aa;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.container {
  background-color: #252531aa;
  backdrop-filter: blur(7.5px);

  border: 3px solid #4a4a68;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-radius: 15px;
}

.foreground {
  color: #ffffff;
  background-color: #4a4a68;
  font-size: 16px;
}

.separator-vertical {
  width: 4px;
  height: 100%;
  background-color: #4a4a68;
  border-radius: 5px;
  align-self: center;
}

.separator-horizontal {
  width: auto;
  height: 4px;
  background-color: #4a4a68;
  border-radius: 5px;
  align-self: center;
}
