.panel {
  position: relative;
  width: 275px;
  max-height: 100%; /* Cannot use "fit-content" here, otherwise the animation won't work. */
  overflow: auto;

  transition: max-height 0.2s ease-in-out;
}

.panel.collapsed {
  max-height: 30px;
  overflow: hidden;

  transition: max-height 0.2s ease-in-out;
}

.content {
  max-height: 100%;
  padding: 0px 10px 10px 10px;
}

.title {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1px 5px 4px 5px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.title-text {
  text-align: center;
}
