.panel {
  position: relative;
  width: 275px;
  max-height: 64vh; /* Cannot use "fit-content" here, otherwise the animation won't work. */
  background-color: #252531aa;
  border: 3px solid #4a4a68;
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
  overflow: auto;

  backdrop-filter: blur(7.5px);
  transition: max-height 0.2s ease-in-out;
}

.panel.collapsed {
  max-height: 20px;

  transition: max-height 0.2s ease-in-out;
}

.title-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1px 5px 4px 5px;
  margin: 0 auto;
  background-color: #4a4a68;
  border-radius: 0 0 10px 10px;
}

.bottom-panel-wrapper{
  margin-bottom: 50px;
}
.title-text {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
