.horizontal-stack-layout {
  display: flex;
  align-items: center; /* Optional: align items vertically in the center */
}

.horizontal-stack-layout > * {
  margin-right: 5px;
}

/* To remove the margin from the last child, you can use :last-child selector */
.horizontal-stack-layout > :last-child {
  margin-right: 0;
}

/* Let each sub-sections have gaps */
.panel-section > * {
  margin-bottom: 5px;
}

.panel-section > :first-child {
  margin-bottom: 0px;
}

.panel-section {
  margin-bottom: 10px;
}

.panel-sub-section {
  text-align: left;
}

.section-title-text {
  text-align: left;
  margin-bottom: 5px;
}

.property-text {
  text-align: center;
}

.property-text-XY {
  text-align: center;
  min-width: 15px;
}
